# Exploring various pyspark methods in python & Jupyter notebook

In [81]:
import configparser
from datetime import datetime
import os
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import Window
from pyspark.sql.functions import row_number, desc, col, when, udf
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format, from_unixtime, dayofweek
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.types import StructType as R, StructField as Fld, DoubleType as Dbl, StringType as Str, IntegerType as Int, DateType as Dat, TimestampType, LongType

In [2]:
# config = configparser.ConfigParser()
# config.read('conff.cfg')

# os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
# os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

In [2]:
# Create or retrieve a Spark Session
spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0")\
        .getOrCreate()

In [3]:
spark

In [224]:
songSchema = R([
        Fld("artist_id",Str()),
        Fld("artist_latitude",Dbl()),
        Fld("artist_location",Str()),
        Fld("artist_longitude",Dbl()),
        Fld("artist_name",Str()),
        Fld("duration",Dbl()),
        Fld("num_songs",Int()),
        Fld("song_id",Str()),
        Fld("title",Str()),
        Fld("year",Int()),
    ])

In [219]:
in_data = spark.read.json("song_data/*/*/*/*.json")

In [223]:
in_data

DataFrame[artist_id: string, artist_latitude: double, artist_location: string, artist_longitude: double, artist_name: string, duration: double, num_songs: bigint, song_id: string, title: string, year: bigint]

In [222]:
in_data.show(5)

+------------------+---------------+-----------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|  artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+-----------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARDR4AC1187FB371A1|           null|                 |            null|Montserrat Caball...|511.16363|        1|SOBAYLL12A8C138AF9|Sono andati? Fing...|   0|
|AREBBGV1187FB523D2|           null|      Houston, TX|            null|Mike Jones (Featu...|173.66159|        1|SOOLYAZ12A6701F4A6|Laws Patrolling (...|   0|
|ARMAC4T1187FB3FA4C|       40.82624|Morris Plains, NJ|       -74.47995|The Dillinger Esc...|207.77751|        1|SOBBUGU12A8C13E95D|Setting Fire to S...|2004|
|ARPBNLO1187FB3D52F|       40.71455|     New York, NY|       -74.00712|            Tiny Tim| 43.36281|        1|SOAOIBZ12AB01815BE|I Hold Your Hand ...|2000|
|ARDNS031187B9924F0|       32.67828|          Georgia|       -83.22295|          Tim Wilson|186.48771|        1|SONYPOM12A8C13B2D7|I Think My Wife I...|2005|
+------------------+---------------+-----------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 5 rows

In [230]:
input_data = spark.read.json("song_data/*/*/*/*.json", schema = songSchema)

In [231]:
copy_df = input_data

In [115]:
song_df = input_data.toPandas()

song_df.head(5)

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,title,year
0,ARDR4AC1187FB371A1,NaN,,NaN,Montserrat Caball√©;Placido Domingo;Vicente Sar...,511.16363,1,Sono andati? Fingevo di dormire,0
1,AREBBGV1187FB523D2,NaN,"Houston, TX",NaN,Mike Jones (Featuring CJ_ Mello & Lil' Bran),173.66159,1,Laws Patrolling (Album Version),0
2,ARMAC4T1187FB3FA4C,40.82624,"Morris Plains, NJ",-74.47995,The Dillinger Escape Plan,207.77751,1,Setting Fire to Sleeping Giants,2004
3,ARPBNLO1187FB3D52F,40.71455,"New York, NY",-74.00712,Tiny Tim,43.36281,1,I Hold Your Hand In Mine [Live At Royal Albert...,2000
4,ARDNS031187B9924F0,32.67828,Georgia,-83.22295,Tim Wilson,186.48771,1,I Think My Wife Is Running Around On Me (Taco ...,2005

In [117]:
song_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 9 columns):
artist_id           71 non-null object
artist_latitude     31 non-null float64
artist_location     71 non-null object
artist_longitude    31 non-null float64
artist_name         71 non-null object
duration            71 non-null float64
num_songs           71 non-null int32
title               71 non-null object
year                71 non-null int32
dtypes: float64(3), int32(2), object(4)
memory usage: 4.6+ KB

In [118]:
song_df.shape

(71, 9)

In [119]:
song_df.duration.dtype

dtype('float64')

In [17]:
input_data.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- year: integer (nullable = true)

In [18]:
input_data.createOrReplaceTempView("df")

df_test = spark.sql("SELECT artist_id, COUNT(*) as num FROM df GROUP BY 1")

In [20]:
df_test.show()

+------------------+---+
|         artist_id|num|
+------------------+---+
|AR9AWNF1187B9AB0B4|  1|
|AR0IAWL1187B9A96D0|  1|
|AR0RCMP1187FB3F427|  1|
|AREDL271187FB40F44|  1|
|ARI3BMM1187FB4255E|  1|
|AR7SMBG1187B9B9066|  1|
|ARMAC4T1187FB3FA4C|  1|
|ARNTLGG11E2835DDB9|  2|
|ARKRRTF1187B9984DA|  1|
|AR051KA1187B98B2FF|  1|
|AR10USD1187B99F3F1|  1|
|AR7ZKHQ1187B98DD73|  1|
|ARQ9BO41187FB5CF1F|  1|
|AR7G5I41187FB4CE6C|  1|
|ARGCY1Y1187B9A4FA5|  1|
|ARAJPHH1187FB5566A|  1|
|AR558FS1187FB45658|  1|
|ARKFYS91187B98E58F|  1|
|ARD842G1187B997376|  1|
|ARJIE2Y1187B994AB7|  1|
+------------------+---+
only showing top 20 rows

In [120]:
#window_spec = Window.partitionBy("year", "artist_id").orderBy(desc("duration"))

In [232]:
copy_df = copy_df.dropDuplicates()

In [122]:
copy_df = copy_df.fillna(0)

In [123]:
#df_copy = copy_df.withColumn("row_number", row_number().over(window_spec))

In [172]:
copy_df.select('artist_id', 'year', 'duration').where(col('year') != 0).show(10)

+------------------+----+---------+
|         artist_id|year| duration|
+------------------+----+---------+
|ARMJAGH1187FB546F3|1969|148.03546|
|ARIK43K1187B9AE54C|1986| 307.3824|
|ARGUVEV1187B98BA17|1997|313.12934|
|ARBEBBY1187B9B43DB|1994|236.17261|
|AR558FS1187FB45658|2003| 75.67628|
|AR7G5I41187FB4CE6C|1982|233.40363|
|ARH4Z031187B9A71F2|1961|156.39465|
|ARPBNLO1187FB3D52F|2000| 43.36281|
|AR62SOJ1187FB47BB5|2005|337.68444|
|ARNF6401187FB57032|1994|  305.162|
+------------------+----+---------+
only showing top 10 rows

In [210]:
##df_copy1 = copy_df.withColumn("song_id", monotonically_increasing_id())

In [174]:
df_copy1

DataFrame[artist_id: string, artist_latitude: double, artist_location: string, artist_longitude: double, artist_name: string, duration: double, num_songs: int, title: string, year: int, song_id: bigint]

In [175]:
df_copy1

DataFrame[artist_id: string, artist_latitude: double, artist_location: string, artist_longitude: double, artist_name: string, duration: double, num_songs: int, title: string, year: int, song_id: bigint]

In [233]:
#songs_table -- ["title", "artist_id","year", "duration"]

songs_table = copy_df.select('song_id', 'artist_id', 'year', 'duration', 'title')

In [234]:
songs_table.show(5)

+------------------+------------------+----+---------+--------------------+
|           song_id|         artist_id|year| duration|               title|
+------------------+------------------+----+---------+--------------------+
|SONYPOM12A8C13B2D7|ARDNS031187B9924F0|2005|186.48771|I Think My Wife I...|
|SOWQTQZ12A58A7B63E|ARPFHN61187FB575F6|   0|279.97995|Streets On Fire (...|
|SOXVLOJ12AB0189215|ARKRRTF1187B9984DA|   0|177.47546|     Amor De Cabaret|
|SODUJBS12A8C132150|ARI2JSK1187FB496EF|   0|111.62077|Wessex Loses a Bride|
|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|   0|269.58322|      Setanta matins|
+------------------+------------------+----+---------+--------------------+
only showing top 5 rows

In [235]:
#artist-table -- artist, "artist_name, "artist_location, "artist_latitude, artist_longitude

artist_table = copy_df.selectExpr('artist_id as artist', 'artist_name as name', 'artist_location as location', 'artist_longitude as longitude', 'artist_latitude as latitude')

In [236]:
artist_table.show(5)

+------------------+--------------------+---------------+---------+--------+
|            artist|                name|       location|longitude|latitude|
+------------------+--------------------+---------------+---------+--------+
|ARDNS031187B9924F0|          Tim Wilson|        Georgia|-83.22295|32.67828|
|ARPFHN61187FB575F6|         Lupe Fiasco|    Chicago, IL|-87.63241|41.88415|
|ARKRRTF1187B9984DA|    Sonora Santanera|               |     null|    null|
|ARI2JSK1187FB496EF|Nick Ingman;Gavyn...|London, England| -0.12714|51.50632|
|AR5KOSW1187FB35FF4|               Elena|      Dubai UAE| 15.47491|49.80388|
+------------------+--------------------+---------------+---------+--------+
only showing top 5 rows

In [160]:
df_copy1.select('song_id', 'artist_id', 'year', 'duration', 'row_number', 'artist_longitude', 'artist_latitude', 'title').\
filter(col('year') != 0).filter(col('artist_latitude') != 0.0).show(10)

+-------------+------------------+----+---------+----------+----------------+---------------+--------------------+
|      song_id|         artist_id|year| duration|row_number|artist_longitude|artist_latitude|               title|
+-------------+------------------+----+---------+----------+----------------+---------------+--------------------+
| 429496729600|ARDNS031187B9924F0|2005|186.48771|         1|       -83.22295|       32.67828|I Think My Wife I...|
| 575525617664|ARH4Z031187B9A71F2|1961|156.39465|         1|       -74.17418|       40.73197|Crazy Mixed Up World|
| 584115552256|AR3JMC51187B9AE49D|1999|236.25098|         1|       -81.37739|       28.53823|    Larger Than Life|
| 644245094400|ARD842G1187B997376|1987|491.12771|         1|       -79.38533|       43.64856|            Floating|
| 807453851648|AR0RCMP1187FB3F427|1992|133.32853|         1|       -94.10158|       30.08615|It Makes No Diffe...|
| 953482739712|ARPBNLO1187FB3D52F|2000| 43.36281|         1|       -74.00712|       40.71455|I Hold Your Hand ...|
|1005022347265|ARMJAGH1187FB546F3|1969|148.03546|         1|       -90.04892|       35.14968|           Soul Deep|
|1030792151040|ARAJPHH1187FB5566A|1964|164.80608|         1|       -73.83168|        40.7038|     Twist and Shout|
|1151051235328|ARMAC4T1187FB3FA4C|2004|207.77751|         1|       -74.47995|       40.82624|Setting Fire to S...|
|1211180777472|AR0IAWL1187B9A96D0|2003|197.19791|         1|       -80.11278|         8.4177|         Native Soul|
+-------------+------------------+----+---------+----------+----------------+---------------+--------------------+
only showing top 10 rows

In [161]:
df_copy1.selectExpr('song_id', 'artist_id as artist', 'year', 'duration', 'row_number', 'artist_longitude as longitude', 'artist_latitude as latitude', 'title').\
filter(col('year') != 0).filter(col('artist_latitude') != 0.0).show(10)

+-------------+------------------+----+---------+----------+---------+--------+--------------------+
|      song_id|            artist|year| duration|row_number|longitude|latitude|               title|
+-------------+------------------+----+---------+----------+---------+--------+--------------------+
| 429496729600|ARDNS031187B9924F0|2005|186.48771|         1|-83.22295|32.67828|I Think My Wife I...|
| 575525617664|ARH4Z031187B9A71F2|1961|156.39465|         1|-74.17418|40.73197|Crazy Mixed Up World|
| 584115552256|AR3JMC51187B9AE49D|1999|236.25098|         1|-81.37739|28.53823|    Larger Than Life|
| 644245094400|ARD842G1187B997376|1987|491.12771|         1|-79.38533|43.64856|            Floating|
| 807453851648|AR0RCMP1187FB3F427|1992|133.32853|         1|-94.10158|30.08615|It Makes No Diffe...|
| 953482739712|ARPBNLO1187FB3D52F|2000| 43.36281|         1|-74.00712|40.71455|I Hold Your Hand ...|
|1005022347265|ARMJAGH1187FB546F3|1969|148.03546|         1|-90.04892|35.14968|           Soul Deep|
|1030792151040|ARAJPHH1187FB5566A|1964|164.80608|         1|-73.83168| 40.7038|     Twist and Shout|
|1151051235328|ARMAC4T1187FB3FA4C|2004|207.77751|         1|-74.47995|40.82624|Setting Fire to S...|
|1211180777472|AR0IAWL1187B9A96D0|2003|197.19791|         1|-80.11278|  8.4177|         Native Soul|
+-------------+------------------+----+---------+----------+---------+--------+--------------------+
only showing top 10 rows

In [162]:
#empty values in artist_location column

df_copy1.filter(col('artist_location') == '').count()

28

In [163]:
def blank_as_null(x):
    return when(col(x) != "", col(x)).otherwise('Missing_value')

df_copy1 = df_copy1.withColumn("artist_location", blank_as_null("artist_location"))

In [164]:
df_copy1.filter(col('artist_location') == '').count() #no more empty values

0

In [165]:
df_copy1.selectExpr('song_id', 'artist_id as artist', 'year', 'duration', 'row_number', 'artist_location as location', 'artist_longitude as longitude', 'artist_latitude as latitude', 'title').\
filter(col('year') != 0).filter(col('artist_latitude') != 0.0).show(10)

+-------------+------------------+----+---------+----------+--------------------+---------+--------+--------------------+
|      song_id|            artist|year| duration|row_number|            location|longitude|latitude|               title|
+-------------+------------------+----+---------+----------+--------------------+---------+--------+--------------------+
| 429496729600|ARDNS031187B9924F0|2005|186.48771|         1|             Georgia|-83.22295|32.67828|I Think My Wife I...|
| 575525617664|ARH4Z031187B9A71F2|1961|156.39465|         1|          Newark, NJ|-74.17418|40.73197|Crazy Mixed Up World|
| 584115552256|AR3JMC51187B9AE49D|1999|236.25098|         1|         Orlando, FL|-81.37739|28.53823|    Larger Than Life|
| 644245094400|ARD842G1187B997376|1987|491.12771|         1|Toronto, Ontario,...|-79.38533|43.64856|            Floating|
| 807453851648|AR0RCMP1187FB3F427|1992|133.32853|         1|        Beaumont, TX|-94.10158|30.08615|It Makes No Diffe...|
| 953482739712|ARPBNLO1187FB3D52F|2000| 43.36281|         1|        New York, NY|-74.00712|40.71455|I Hold Your Hand ...|
|1005022347265|ARMJAGH1187FB546F3|1969|148.03546|         1|         Memphis, TN|-90.04892|35.14968|           Soul Deep|
|1030792151040|ARAJPHH1187FB5566A|1964|164.80608|         1|          Queens, NY|-73.83168| 40.7038|     Twist and Shout|
|1151051235328|ARMAC4T1187FB3FA4C|2004|207.77751|         1|   Morris Plains, NJ|-74.47995|40.82624|Setting Fire to S...|
|1211180777472|AR0IAWL1187B9A96D0|2003|197.19791|         1|              Panama|-80.11278|  8.4177|         Native Soul|
+-------------+------------------+----+---------+----------+--------------------+---------+--------+--------------------+
only showing top 10 rows

In [166]:
df_copy1.selectExpr('artist_location as location').show()

+--------------------+
|            location|
+--------------------+
|       Missing_value|
|         Memphis, TN|
|   Beverly Hills, CA|
|       Missing_value|
|             Brandon|
|       Missing_value|
|     Gainesville, FL|
|       Missing_value|
|       Missing_value|
|     London, England|
|       Missing_value|
|          Newark, NJ|
|       Missing_value|
|Seattle, Washingt...|
|       Missing_value|
|       Missing_value|
|       United States|
|        New York, NY|
|       Missing_value|
|      North Carolina|
+--------------------+
only showing top 20 rows

In [167]:
df_copy1

DataFrame[artist_id: string, artist_latitude: double, artist_location: string, artist_longitude: double, artist_name: string, duration: double, num_songs: int, title: string, year: int, row_number: int, song_id: bigint]

In [168]:
df_copy1.selectExpr('song_id', 'artist_id as artist', 'year', 'duration', 'row_number', 'artist_location as location', 'artist_longitude as longitude', 'artist_latitude as latitude', 'title').\
filter(col('year') != 0).filter(col('artist_latitude') != 0.0).filter(col('artist_location') != 'Missing_value').show(10)

+-------------+------------------+----+---------+----------+--------------------+---------+--------+--------------------+
|      song_id|            artist|year| duration|row_number|            location|longitude|latitude|               title|
+-------------+------------------+----+---------+----------+--------------------+---------+--------+--------------------+
| 429496729600|ARDNS031187B9924F0|2005|186.48771|         1|             Georgia|-83.22295|32.67828|I Think My Wife I...|
| 575525617664|ARH4Z031187B9A71F2|1961|156.39465|         1|          Newark, NJ|-74.17418|40.73197|Crazy Mixed Up World|
| 584115552256|AR3JMC51187B9AE49D|1999|236.25098|         1|         Orlando, FL|-81.37739|28.53823|    Larger Than Life|
| 644245094400|ARD842G1187B997376|1987|491.12771|         1|Toronto, Ontario,...|-79.38533|43.64856|            Floating|
| 807453851648|AR0RCMP1187FB3F427|1992|133.32853|         1|        Beaumont, TX|-94.10158|30.08615|It Makes No Diffe...|
| 953482739712|ARPBNLO1187FB3D52F|2000| 43.36281|         1|        New York, NY|-74.00712|40.71455|I Hold Your Hand ...|
|1005022347265|ARMJAGH1187FB546F3|1969|148.03546|         1|         Memphis, TN|-90.04892|35.14968|           Soul Deep|
|1030792151040|ARAJPHH1187FB5566A|1964|164.80608|         1|          Queens, NY|-73.83168| 40.7038|     Twist and Shout|
|1151051235328|ARMAC4T1187FB3FA4C|2004|207.77751|         1|   Morris Plains, NJ|-74.47995|40.82624|Setting Fire to S...|
|1211180777472|AR0IAWL1187B9A96D0|2003|197.19791|         1|              Panama|-80.11278|  8.4177|         Native Soul|
+-------------+------------------+----+---------+----------+--------------------+---------+--------+--------------------+
only showing top 10 rows

In [141]:
#df_copy1.select('artist_location').withColumn('null_loc',col('artist_location').isNull()).where('null_loc = True').count()

28

In [177]:
#shows all the missing values

df_copy1.selectExpr('artist_location as location').where(col('location') == 'Missing_value').show(df_copy1.count(), False)

+-------------+
|location     |
+-------------+
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
|Missing_value|
+-------------+

In [178]:
df_copy1.selectExpr('song_id', 'artist_id as artist', 'year', 'duration', 'row_number', 'artist_location as location', 'artist_longitude as longitude', 'artist_latitude as latitude', 'title').\
filter(col('year') != 0).filter(col('artist_latitude') != 0.0).\
filter(col('artist_location') != 'Missing_value').show(df_copy1.count(), False)

+-------------+------------------+----+---------+----------+-----------------------------+---------+--------+----------------------------------------------------+
|song_id      |artist            |year|duration |row_number|location                     |longitude|latitude|title                                               |
+-------------+------------------+----+---------+----------+-----------------------------+---------+--------+----------------------------------------------------+
|429496729600 |ARDNS031187B9924F0|2005|186.48771|1         |Georgia                      |-83.22295|32.67828|I Think My Wife Is Running Around On Me (Taco Hell) |
|575525617664 |ARH4Z031187B9A71F2|1961|156.39465|1         |Newark, NJ                   |-74.17418|40.73197|Crazy Mixed Up World                                |
|584115552256 |AR3JMC51187B9AE49D|1999|236.25098|1         |Orlando, FL                  |-81.37739|28.53823|Larger Than Life                                    |
|644245094400 |ARD842G1187B997376|1987|491.12771|1         |Toronto, Ontario, Canada     |-79.38533|43.64856|Floating                                            |
|807453851648 |AR0RCMP1187FB3F427|1992|133.32853|1         |Beaumont, TX                 |-94.10158|30.08615|It Makes No Difference Now                          |
|953482739712 |ARPBNLO1187FB3D52F|2000|43.36281 |1         |New York, NY                 |-74.00712|40.71455|I Hold Your Hand In Mine [Live At Royal Albert Hall]|
|1005022347265|ARMJAGH1187FB546F3|1969|148.03546|1         |Memphis, TN                  |-90.04892|35.14968|Soul Deep                                           |
|1030792151040|ARAJPHH1187FB5566A|1964|164.80608|1         |Queens, NY                   |-73.83168|40.7038 |Twist and Shout                                     |
|1151051235328|ARMAC4T1187FB3FA4C|2004|207.77751|1         |Morris Plains, NJ            |-74.47995|40.82624|Setting Fire to Sleeping Giants                     |
|1211180777472|AR0IAWL1187B9A96D0|2003|197.19791|1         |Panama                       |-80.11278|8.4177  |Native Soul                                         |
|1236950581249|ARB29H41187B98F0EF|1972|342.56934|1         |Chicago                      |-87.63241|41.88415|Do You Finally Need A Friend                        |
|1236950581250|AROUOZZ1187B9ABE51|1997|168.25424|1         |New York, NY [Spanish Harlem]|-73.94512|40.79195|Spanish Grease                                      |
|1494648619008|ARNF6401187FB57032|1994|305.162  |1         |New York, NY [Manhattan]     |-73.96644|40.79086|The Ballad Of Sleeping Beauty                       |
|1554778161152|AR47JEX1187B995D81|1985|124.86485|1         |Nevada, MO                   |-94.35868|37.83721|James (Hold The Ladder Steady)                      |
+-------------+------------------+----+---------+----------+-----------------------------+---------+--------+----------------------------------------------------+

In [179]:
df_copy1.selectExpr('song_id', 'artist_id as artist', 'year', 'duration', 'row_number', 'artist_location as location', 'artist_longitude as longitude', 'artist_latitude as latitude', 'title').\
filter(col('year') != 0).filter(col('artist_latitude') != 0.0).\
filter(col('artist_location') != 'Missing_value').count()

14

In [239]:
log_data = spark.read.json("log-data/*.json")

In [240]:
log_data = log_data.withColumn("songplay_id", monotonically_increasing_id())

In [241]:
log_data

DataFrame[artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: double, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string, songplay_id: bigint]

In [242]:
log_data.select('ts').show(5)

+-------------+
|           ts|
+-------------+
|1542241826796|
|1542242481796|
|1542242741796|
|1542247071796|
|1542252577796|
+-------------+
only showing top 5 rows

In [47]:
log_data.ts

Column<b'ts'>

In [52]:
spark.sql("select timestamp(from_unixtime(1542252577796/1000,'yyyy-MM-dd HH:mm:ss.SS')) as ts").show()

+-------------------+
|                 ts|
+-------------------+
|2018-11-14 22:29:37|
+-------------------+

In [243]:
log_data = log_data.withColumn("start_time", from_unixtime(col("ts")/1000, 'yyyy-MM-dd HH:mm:ss.SS').cast("timestamp"))

In [244]:
log_data

DataFrame[artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: double, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string, songplay_id: bigint, start_time: timestamp]

In [245]:
log_data.select('start_time').show(50)

+-------------------+
|         start_time|
+-------------------+
|2018-11-14 19:30:26|
|2018-11-14 19:41:21|
|2018-11-14 19:45:41|
|2018-11-14 20:57:51|
|2018-11-14 22:29:37|
|2018-11-14 22:44:09|
|2018-11-14 22:44:20|
|2018-11-15 00:34:34|
|2018-11-15 00:37:57|
|2018-11-15 00:48:55|
|2018-11-15 00:53:44|
|2018-11-15 00:55:56|
|2018-11-15 01:01:02|
|2018-11-15 01:01:53|
|2018-11-15 01:07:37|
|2018-11-15 01:10:33|
|2018-11-15 01:13:54|
|2018-11-15 01:14:16|
|2018-11-15 01:17:59|
|2018-11-15 01:18:48|
|2018-11-15 01:21:33|
|2018-11-15 01:25:58|
|2018-11-15 01:29:38|
|2018-11-15 02:03:44|
|2018-11-15 02:08:36|
|2018-11-15 02:12:09|
|2018-11-15 02:28:47|
|2018-11-15 02:31:55|
|2018-11-15 02:35:51|
|2018-11-15 02:41:05|
|2018-11-15 02:43:35|
|2018-11-15 02:45:25|
|2018-11-15 02:47:23|
|2018-11-15 02:49:24|
|2018-11-15 02:49:47|
|2018-11-15 02:50:05|
|2018-11-15 02:51:04|
|2018-11-15 02:56:18|
|2018-11-15 04:39:43|
|2018-11-15 04:50:22|
|2018-11-15 04:50:30|
|2018-11-15 04:50:37|
|2018-11-15 04:54:18|
|2018-11-15 04:58:34|
|2018-11-15 05:01:39|
|2018-11-15 05:02:54|
|2018-11-15 05:07:08|
|2018-11-15 05:07:36|
|2018-11-15 05:11:00|
|2018-11-15 05:11:16|
+-------------------+
only showing top 50 rows

In [246]:
log_copy = log_data

In [247]:
log_copy = log_copy.dropDuplicates()

In [248]:
log_copy.select('page').where(col('page') == 'NextSong').count()

6820

In [101]:
log_copy1 = log_copy.where(col('page') == 'NextSong')

In [102]:
len(log_copy1.columns)

19

In [74]:
log_copy1.count()

6820

In [249]:
log_copy1 = log_copy.filter(col('page') == 'NextSong') #no difference btw WHERE & FILTER

In [250]:
log_copy1.count()

6820

In [251]:
time_data = log_copy1.selectExpr('start_time').withColumn('week', weekofyear(col('start_time'))).withColumn('year', year(col('start_time')))\
.withColumn('month', month(col('start_time'))).withColumn('day', dayofmonth(col('start_time'))).withColumn('Day_of_Week', dayofweek(col('start_time')))\
.withColumn('Hour', hour(col('start_time')))

In [252]:
time_data.show(5)

+-------------------+----+----+-----+---+-----------+----+
|         start_time|week|year|month|day|Day_of_Week|Hour|
+-------------------+----+----+-----+---+-----------+----+
|2018-11-15 08:03:38|  46|2018|   11| 15|          5|   8|
|2018-11-15 11:54:20|  46|2018|   11| 15|          5|  11|
|2018-11-15 12:25:45|  46|2018|   11| 15|          5|  12|
|2018-11-15 16:25:45|  46|2018|   11| 15|          5|  16|
|2018-11-15 16:48:15|  46|2018|   11| 15|          5|  16|
+-------------------+----+----+-----+---+-----------+----+
only showing top 5 rows

In [ ]:
#year, month, dayofmonth, hour, weekofyear, date_format

In [ ]:
#userid, firstname, lastname, gender, level

#DataFrame[artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: double, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string, start_time: timestamp]

In [253]:
user_data = log_copy1.selectExpr('cast (userId as int) userId', 'firstName', 'lastName', 'gender', 'level', 'page')

In [254]:
user_data.show(10)

+------+----------+--------+------+-----+--------+
|userId| firstName|lastName|gender|level|    page|
+------+----------+--------+------+-----+--------+
|    30|     Avery| Watkins|     F| paid|NextSong|
|    30|     Avery| Watkins|     F| paid|NextSong|
|    42|    Harper| Barrett|     M| paid|NextSong|
|    49|     Chloe|  Cuevas|     F| paid|NextSong|
|    49|     Chloe|  Cuevas|     F| paid|NextSong|
|    49|     Chloe|  Cuevas|     F| paid|NextSong|
|    97|      Kate| Harrell|     F| paid|NextSong|
|    15|      Lily|    Koch|     F| paid|NextSong|
|    58|     Emily|  Benson|     F| paid|NextSong|
|    29|Jacqueline|   Lynch|     F| paid|NextSong|
+------+----------+--------+------+-----+--------+
only showing top 10 rows

In [107]:
user_spec = Window.partitionBy("userId").orderBy(desc("ts"))

In [108]:
df_log = log_copy1.withColumn("row_number", row_number().over(user_spec))

In [109]:
user_data1 = df_log.selectExpr('cast (userId as int) userId', 'firstName', 'lastName', 'gender', 'level', 'page')

In [110]:
user_data1.show(10)

+------+---------+---------+------+-----+--------+
|userId|firstName| lastName|gender|level|    page|
+------+---------+---------+------+-----+--------+
|    80|    Tegan|   Levine|     F| paid|NextSong|
|    80|    Tegan|   Levine|     F| paid|NextSong|
|    44|   Aleena|    Kirby|     F| paid|NextSong|
|    80|    Tegan|   Levine|     F| paid|NextSong|
|    97|     Kate|  Harrell|     F| paid|NextSong|
|    88| Mohammad|Rodriguez|     M| paid|NextSong|
|    15|     Lily|     Koch|     F| paid|NextSong|
|    49|    Chloe|   Cuevas|     F| paid|NextSong|
|    95|     Sara|  Johnson|     F| paid|NextSong|
|    16|    Rylan|   George|     M| paid|NextSong|
+------+---------+---------+------+-----+--------+
only showing top 10 rows

In [255]:
songs_table.count()

71

In [256]:
artist_table.count()

71

In [195]:
#song == title; artist == artist_name; duration == length; start_time == start_time 

df_copy1

DataFrame[artist_id: string, artist_latitude: double, artist_location: string, artist_longitude: double, artist_name: string, duration: double, num_songs: int, title: string, year: int, song_id: bigint]

In [196]:
log_copy1

DataFrame[artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: double, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string, start_time: timestamp]

In [1]:
copy_df.createOrReplaceTempView("songs_log")
log_copy1.createOrReplaceTempView("evts_log")
time_data.createOrReplaceTempView("time_log")

joinDF = spark.sql("select * from songs_log s JOIN evts_log e ON s.title = e.song JOIN time_log t ON t.start_time = e.start_time")

NameError: name 'copy_df' is not defined

In [260]:
joinDF

DataFrame[artist_id: string, artist_latitude: double, artist_location: string, artist_longitude: double, artist_name: string, duration: double, num_songs: int, song_id: string, title: string, year: int, artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: double, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string, songplay_id: bigint, start_time: timestamp, start_time: timestamp, week: int, year: int, month: int, day: int, Day_of_Week: int, Hour: int]

In [158]:
#start_time, user_id, level, song_id, artist_id, session_id, location, user_agent

songplay_table = joinDF.selectExpr('song_id', 'userId', 'artist_id', 'sessionId', 'location', 'userAgent', 'e.start_time', 't.year', 't.month')

In [157]:
songplay_table.show()

+-------------+------+------------------+---------+--------------------+--------------------+-------------------+----+-----+
|      song_id|userId|         artist_id|sessionId|            location|           userAgent|         start_time|year|month|
+-------------+------+------------------+---------+--------------------+--------------------+-------------------+----+-----+
|1202590842880|    15|AR5KOSW1187FB35FF4|      818|Chicago-Napervill...|"Mozilla/5.0 (X11...|2018-11-21 16:56:47|2018|   11|
+-------------+------+------------------+---------+--------------------+--------------------+-------------------+----+-----+

In [263]:
joinDF.selectExpr('songplay_id', 'song_id', 'userId', 'artist_id', 'sessionId', 'location', 'userAgent', 'e.start_time', 't.year', 't.month').show()

+-----------+------------------+------+------------------+---------+--------------------+--------------------+-------------------+----+-----+
|songplay_id|           song_id|userId|         artist_id|sessionId|            location|           userAgent|         start_time|year|month|
+-----------+------------------+------+------------------+---------+--------------------+--------------------+-------------------+----+-----+
|       1016|SOZCTXZ12AB0182364|    15|AR5KOSW1187FB35FF4|      818|Chicago-Napervill...|"Mozilla/5.0 (X11...|2018-11-21 16:56:47|2018|   11|
|       1109|SOGDBUF12A8C140FAA|    10|AR558FS1187FB45658|      484|Washington-Arling...|"Mozilla/5.0 (Mac...|2018-11-14 00:06:03|2018|   11|
| 8589935837|SOGDBUF12A8C140FAA|    24|AR558FS1187FB45658|      672|Lake Havasu City-...|"Mozilla/5.0 (Win...|2018-11-19 04:14:20|2018|   11|
| 8589936296|SOGDBUF12A8C140FAA|    80|AR558FS1187FB45658|      992|Portland-South Po...|"Mozilla/5.0 (Mac...|2018-11-27 17:35:59|2018|   11|
+-----------+------------------+------+------------------+---------+--------------------+--------------------+-------------------+----+-----+

In [261]:
joinDF.count()

4

In [ ]:
joinDF.select()

In [257]:
#song == title; artist == artist_name; duration == length; start_time == start_time

song_log = songs_table.join(log_copy1, songs_table.title == log_copy1.song)
artist_log = artist_table.join(song_log, artist_table.name == song_log.artist)

In [258]:
artist_log.count()

1